.rojo{
	color:red;
}
.azul{
	color:blue;
	font-size: 40px;
}
#geeks {
    font-style:bold;
    font-size:25px;
}

.gadget-title{	
	font-size: 15px;
	font-style: bold;
	position:center;
	text-align: center;
}

gridster-item{
	border-color: green !important;
	border-radius: 15px !important;
	border-style: solid !important;	
}




