/*Títulos y bordes de paneles*/
.gadget-title {
	font-family: neo sans regular;
	color: #999999;
	font-size: 16px;
	font-weight: normal;
}

gridster-item 
.element.style{
	border-width: 1px;
	border-color: #d8d8d8;
	border-radius: 8px;
}


/*Estilos checks deseleccionado y seleccionado*/
.md-checkbox .md-icon{
	width: 16px;
	height: 16px;
	border-width: 1px;
	border-radius: 0px;
	border-color: #d8d8d8;
}

md-checkbox.md-checked .md-icon{
	border-color: #d8d8d8;
}


md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
    border-color: #d8d8d8;
    background: #fff;
    border: 1px solid #ccc;
	
}

.md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon{
	background-color: #ffffff;
}

md-checkbox.md-checked .md-icon:after{
	width: 6px;
	height: 12px;
}


md-checkbox.md-default-theme.md-checked .md-icon:after, md-checkbox.md-checked .md-icon:after{
	border-color: #3F8CC1;
}

md-checkbox.md-checked .md-icon:after{
	top: 0;
	width: 7px;
	height: 14px;
	border-width: 4px;
}


/*Color de fondo para los elementos seleccionados en una tabla*/
table.md-table.md-row-select tbody.md-body>tr.md-row.md-selected{
	background-color: #d2eff1;
}


/*Desplegables*/
md-option {
	height: 30px;
}


/*Navegación Horizontal*/
.md-button.md-default-theme.md-accent, .md-button.md-accent {
    color: #6d8ca3;
    /* border-bottom: 2px solid #b6c5d1; */
    font-size: 14px;
    font: 14px/16px Neo Sans Medium;
}

md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
    color: #6D8CA3 !important;
    background: #6D8CA3!important;
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
    color: #333333;
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected:hover {
    color: #008DA2 !important;
}

button._md-nav-button.md-accent.md-button.md-ink-ripple:hover {
    background-color: #fafafa !important;
}

/*Acciones*/
.md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: #A6E0E3;
}

/*Paneles Emergentes*/
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
    background-color: #008DA2 !important;
    font-size: 14;
    color: #FFFFFF !important;
    font-family: arial;
}

.md-toolbar-tools {
    font-family: Neo Sans Regular, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #999999;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(255 255 255);
    color: rgba(255,255,255,0.87);
}

.md-subheader.md-default-theme.md-primary, .md-subheader.md-primary {
    font-family: Arial;
    color: #333333;
}


/*Spinner Producto*/
#loader #loader-panel .loading-img {
    background: url(http://weblogic.proyvalhnwl1.indra.es/mpi/ajax-loader-64.70dc1b127b255ae72220.gif) center center no-repeat;
    height: 100%;
    width: 100%;
}

.spinner-margin-top {
    background: url(https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif) top center no-repeat;
	/*http://weblogic.proyvalhnwl1.indra.es/mpi/ajax-loader-64.70dc1b127b255ae72220.gif  top center no-repeat*/
    height: 100%;
    width: 100%;
    margin-top: 0px;
}	

md-progress-circular.ng-isolate-scope.md-mode-indeterminate {
    display: none;
}
